/*
Change these options to customize the color scheme and a few layout options of your website.
Most layout options are stored in src/css/advanced_stylesheet.css. I do not recommend messing with those settings
unless you know what you're doing, or you're willing to spend a lot of time on trial and error.

For any colors, you can represent them in hexadecimal like this (#FF0000 = red)
or use this list of available color names: https://www.w3schools.com/cssref/css_colors.asp
 */

body {
    font-family: 'PT Sans', sans-serif;  /* The font of all the text on all pages */
    color: black;  /* The color of the font of most of the text on your website */
    background-color: white;  /* The color of the background behind everything */
	background-image: url(/griffintest/your_content/images/bgimage.jpg);
background-size: cover; /* Ensures the image covers the entire background */
  background-attachment: fixed; /* Keeps the background fixed while scrolling */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from tiling */
}

a {
    color: maroon;  /* The color of the hyperlinks */
}

span.link-bar-separator {
    margin: 0 10px;
}

div#container {
    max-width: 1000px;  /* The width of the main box that contains all content on the pages */
    background-color: rgba(2,2,15,0.85);  /* The background color of the main box */
  /* If you change the background color of website, play with this or else it will look bad. */
	width: 90%;
}

div#links-bar {
    background-color: indianred;  /* The background color of your links bar */
	display: none;
}

.celestiaBooks {
  position: relative;
  min-height: 419px;
  display: flex;
  align-items: center;
  height: 100%;
  border-width: 9px;
}

div.archive-thumbnail {
  width: 120px;
  margin: 10px;
  text-align: center;
}

div#banner {
  margin-top: -50px;
}

#banner-img {
	width: 100%;
}

a.link-bar-link {
    color: white;  /* The color of the links in your links bar */
    font-weight: bold;  /* Delete this to unbold the links in your links bar*/
    text-decoration: none;  /* Delete this line to put underlining on the links in your links bar */
}

a.link-bar-link:hover {
    color: black;  /* The color of the links in your links bar while the cursor is hovering over them */
}

a.navigation-button {
    color: maroon;  /* Color of the navigation bar hyperlinks */
    font-size: 2em;  /* Size of the navigation bar hyperlinks */
    text-decoration: none;  /* Delete this if you want your navigation links to be underlined */
}

a.navigation-button-disabled {
    color: gray;  /* Color of the disabled navigation bar hyperlinks */
    font-size: 2em;  /* Size of the disabled navigation bar hyperlinks */
    text-decoration: none;  /* Delete this if you want your disabled navigation links to be underlined */
}

div#blurb {
    background-color: lightgray;  /* The color of the "blurb" box that contains post title, post date, tags, etc. */
    width: 75%;  /* The maximum width of the blurb box. */
    border-left: 3px dotted lightslategray;  /* If you change the background color of the blurb, play with these two lines or else it will look bad */
    border-right: 3px dotted lightslategray;
}

h1#page-title {
    color: black;  /* Color of the page title */
    font-size: 3em;  /* Font size of the post title */
}

div#post-date {
    font-weight: bold;  /* Delete this to unbold the post date */
}

div#storyline, div#characters, div#tags {
    font-style: italic;  /* Delete this to unitalicize the tags */
}

/* Home Page */

table {
	width: 100%;
	border-collapse: collapse;
}

.otherTable {
	width:63%;
	margin-left: auto;
	margin-right: auto;
}

h4 {
	font-size: 2.1rem;
	color: white;
	margin-top: 0px;
}

td, th {
	border: none;
	padding: 8px;
	text-align: center;
	vertical-align: middle;
	width: 18px;
}

.news-column {
	width: 50%;
}

.image-link img {
	max-width: 300px;
	border-radius: 6px;
	cursor: pointer;
	width: 100%;
}

.image-link {
	max-width: 300px;
	border-radius: 6px;
	cursor: pointer;
	width: 100%;
}

.image-link:hover {
	-webkit-filter: brightness(70%);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.comicLinks {
	border-right: 4px black solid;
}

.comicBanner {
	color: white;
	font-family: rushford;
	font-size: 70px;
	margin-bottom: -30px;
	margin-top: -40px;
} /* Sets banner colors and custom font */

.bookBanner {
	color: white;
	font-family: rushford;
	font-size: 70px;
	margin-bottom: -30px;
} /* Sets banner colors and custom font */

.bookImage {
	width: 258px;
	border-radius: 6px;
}

.borderOne {
	background-color: rgba(87,61,78,0.42);
	margin-bottom: 30px;
	min-height: 419px;
	display: flex;
	align-items: center;
	height: 100%;
}

.borderTwo {
	background-color: rgba(142,107,92,0.42);
	margin-bottom: 30px;
	min-height: 419px;
	display: flex;
	align-items: center;
	height: 100%;
}

.bookDescription {
	padding-left: 0px;
	padding-right: 40px;
	text-align: left;
	color: white;
}

.bookDescriptionLeft {
	padding-top: 30px;
	padding-bottom: 16px;
	text-align: left;
	color: white;
	padding-right: 0px;
	padding-left: 40px;
}

.bookDescriptionRight {
	padding-left: 0px;
	padding-right: 40px;
	padding-top: 30px;
	text-align: left;
	color: white;
	padding-bottom: 16px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4); /* Dark grey semi-transparent */
	z-index: 1000; /* Ensure it covers everything */
	cursor: zoom-in; /* Zoom cursor */
	visibility: hidden; /* Hidden by default */
} /* Sets overlay for comic world selection */

#overlayHome {
	visibility: hidden;
}

.whiteText {
	color: white;
	font-weight: normal;
}

.redLink {
	color: #ff2a13;
	text-decoration: none;
	font-size: 1.2rem;
}

.anidroidsTitle {
	font-size: 40px;
	margin-top: -40px;
	font-weight: bold;
}

.comicWorld {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	z-index: 1001; /* Above the overlay */
	text-align: center;
	background-color: rgba(87,61,78,0.42);
}

.bookWorld {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	z-index: 1001; /* Above the overlay */
	text-align: center;
	background-color: rgba(87,61,78,0.42);
}

.bookTable {
	border-collapse: separate;
	border-spacing: 0 1em;
	overflow: auto;
	table-layout: fixed;
}

.pictureLeft, .pictureRight {
	width: 330px;
}

.entryTitle {
	color: white;
	font-size: 4rem;
	margin-top: -10px;
	font-weight: normal;
}

.felidaeIcon {
	margin-right: 110px;
	margin-left: 30px;
	width: 403px;
	height: 384px;
}

.felidaeDescription {
	margin-left: 329px;
	text-align: center;
}

.novel {
	font-size: 2rem;
	color: white;
	margin-top: 90px;
	text-align: left;
}

.anidroids {
	font-size: 1.5rem;
	font-weight: normal;
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
}

.anidroidsTitle {
	color: white;
	font-size: 3rem;
	margin-top: -40px;
	text-align: left;
}

.anidroidsOne {
	font-size: 1.5rem;
	font-weight: normal;
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
	color: white;
	margin-top: -10px;
}

.anidroidsTwo {
	font-size: 1.2rem;
	font-weight: normal;
	text-align: left;
	color: rgb(237, 255, 204);
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
}

.anidroidsTable {
	color: rgb(237, 255, 204);
	margin-top: 50px;
}

.bookImageAnidroids {
	margin-right: 30px;
	margin-left: 30px;
	width: 258px;
}

.anidroidsText {
	color: rgb(237, 255, 204);
}

.anidroidsDescription {
	text-align: left;
}

.borderOneAnidroids {
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.borderOneHC {
	min-height: 419px;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 45px 0px 0px 0px;
	background-color: #111111;
}

.borderTwoAnidroids {
	min-height: 419px;
	display: flex;
	align-items: center;
}

#comicWorldInTheNewAge, #comicWorldOther, #comicWorldHC, #bookWorldPitFighters, #bookWorldAniDroids, #bookWorldHC {
	visibility: hidden;
	height: 810px;
	overflow: auto;
	background-color: rgba(2, 2, 15, 0.98);
	width: 95%;
	max-width: 1000px;
	border: solid 30px;
	border-color: rgba(2, 2, 15, 0.98);
	overscroll-behavior: contain;
	width: 96%;
	box-sizing: border-box;
}

.exitButtonInner {
	left: 81%;
}

	.comicAndBookThumbs {
		position: relative;
		top: 140px;
	}
	
	.entryTitle {
		margin-top: 110px;
	}
	
	.pictureMobile {
		display: none;
	}
	
	.pictureRight {
		display: block;
		margin-top: -119px;
	}
	
	.pictureRightPit {
		display: block;
	}
	
	.underOneSky {
		margin-left: 67px;
		width: 400px;
		height: 317px;
	}
	
	.skinchangeText {
		margin-left: 200px;
	}
	
	.underOneSkyText {
		margin-left: 200px;
		width: 390px;
	}
	
	.skinchangeImage {
		margin-left: 210px;
	}
	
	.exitButtonInner {
		width: 104px;
		position: fixed;
		margin-left: auto;
		margin-right: auto;
		top: 0px;
		cursor: pointer;
		z-index: 1002;
	}
	
	.bookSeries {
		min-height: 419px;
		border-style: double;
		border-width: 9px;
		background-color: rgb(17, 17, 17);
	}
	
	.bookTitle {
		font-size: 3rem;
		color: white;
		margin-top: 10px;
		text-align: center;
		font-weight: bold;
		padding-top: 30px;
		margin-bottom: 30px;
	}
	
	.storyDescription {
		font-weight: normal;
		margin-right: 18px;
		font-size: 1.2rem;
	}
	
	.textBox {
		text-align: left;
		margin-left: 40px;
	}
	
	.seriesTitle {
		color: white;
		font-size: 2rem;
		margin-top: -40px;
		text-align: left;
		font-weight: normal;
	}
	
	.titleOne {
		margin-top: -20px;
	}
	
	.titleTwo {
		padding-top: 70px;
		margin-bottom: -30px;
	}
	
	.titleThree {
		padding-top: 20px;
		margin-bottom: 20px;
	}
	
	.titleFour {
		padding-top: 0px;
		margin-bottom: 20px;
	}
	
	.titleFive {
		padding-top: 70px;
		margin-bottom: 0px;
	}
	
	.imageChainUnbroken {
		margin-top: -310px;
	}
	
	.textVertical {
		padding-top: 50px;
	}
	
	.series {
		background-color: #111111;
		border-style: double;
		border-width: 9px;
	}
	
	.kantiTitle {
		margin-bottom: 0px;
		padding-top: 0px;
	}
	
	.smallWorld {
		margin-top: -90px;
	}
	
	.toriTitle {
		margin-bottom: 0px;
		margin-top: 0px;
	}
	
	.descriptionRight {
		margin-right: 30px;
	}
	
	.descriptionLeft {
		margin-left: 30px;
	}
	
	.felidaeText {
		padding-left: 120px;
	}
	
	.pitFightersOne {
		margin-right: 30px;
		margin-left: 30px;
	}

/* All Comic Pages */

#comic-image {
	max-width: 100%;
} /* Sets width for all comic images without going over their original maximum size */


@media (max-width: 62.5rem) {
	div#container {
		max-width: 1000px;
		width: 90%;	
	}
	
	table {
		width: 100%;
		border-collapse: collapse;
	}
	
	.image-link img {
		max-width: 300px;
		width: 94%;
}

	.comicBanner, .bookBanner {
		font-size: 58px;
	}
	
	.bookBanner {
		margin-top: 10px;
	}
	
	.exitButtonInner {
    top: 50px;
    left: 80%;
  }
}

@media (max-width:56.25rem) {
	
	#bookWorldHC {
		overflow-x: hidden;
	}
	
	#comicWorldInTheNewAge, #comicWorldOther, #comicWorldHC, #bookWorldPitFighters, #bookWorldAniDroids, #bookWorldHC {
	border: 0px;
	width: 100%;
}
	
	.felidaeIcon {
		margin-right: auto;
		margin-left: auto;
		max-width: 403px;
		width: 90%;
	}
	
	.felidaeText {
		padding-left: 0px;
	}
	
	.borderOneHC {
		min-height: 10px;
		padding-bottom: 7px;
		padding-top: 7px;
	}
	
	.imageChainUnbroken {
		margin-top: 30px;
	}
	
	.descriptionRight {
		margin-right: 0px;
	}
	
	.descriptionLeft {
		margin-right: 10px;
		margin-left: 10px;
	}
	
	.anidroidsText {
		margin-right: 10px;
		margin-left: 10px;
	}
	
	.textVertical {
		padding-top: 0px;
	}
	
	.titleTwo {
		padding-top: 0px;
		margin-bottom: 0px;
	}
	
	.bookImageSC {
		padding-top: 70px;
	}
	
	.titleThree {
		padding-top: 0px;
	}
	
	.smallWorld {
		margin-top: 0px;
	}
	
	.bookImageAnidroids {
		margin-right: auto;
		margin-left: auto;
		width: 100%;
		max-width: 300px;
	}
	
	.seriesTitle {
		margin-top: 70px;
		text-align: center;
	}
	
	.bookTitle {
		margin-top: 20px;
		font-weight: bold;
		font-size: 3rem;
		padding-top: 30px;
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.entryTitle {
		font-size: 3rem;
		margin-top: 170px;
	}
	
	.kantiTitle {
		margin-bottom: 0px;
		margin-top: -40px;
	}
	
	.toriTitle {
		margin-bottom: 0px;
		margin-top: 0px;
	}
	
	.bookSeries {
		border-style: none;
	}
	
	.exitButtonInner {
		top: 50px;
		left: 60%;
	}
	
	.storyDescription {
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		padding-top: 40px;
	}
	
	.textBox {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.anidroidsOne, .anidroidsTwo {
		margin-left: 10px;
		margin-right: 10px;
		font-size: 1rem;
		text-align: center;
	}
	
	.anidroidsTitle {
		font-size: 1.7rem;
	}
	
	.novel {
		font-size: 1.4rem;
	}
	
	.borderOneHC {
		display: block;
	}
	
	.anidroidsDescription {
		margin-top: -70px;
		text-align: center;
	}
	
	.novel, .anidroidsTitle, .redLink, .anidroidsDescription {
		text-align: center;
	}
	
	.pictureLeft {
		width: 100%;
	}
	
	.underOneSky {
		margin-left: 0px;
		width: 100%;
		height: auto;
	}
	
	.underOneSkyText {
		margin-left: 0px;
		width: auto;
	}
	
	.skinchangeText {
		margin-left: 0px;
	}
	
	.skinchangeImage {
		margin-left: 0px;
	}

	div#banner {
		margin-top: -25px;
	}
	
	#banner-img {
		width: 93%;
	}
	
	body {
		margin: 0;
	}
	
	div#container {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	
	.bookDescriptionLeft, .bookDescriptionRight {
		text-align: center;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 20px;
		padding-top: 20px;
	}
	
	.pictureLeft {
		padding-top: 20px;
  padding-bottom: 20px;
	}
	
	.pictureRight, .pictureRightPit {
		display: none;
	}
	
	.pictureMobile {
		display: block;
	}
	
	.borderOne, .borderTwo {
		flex-wrap: wrap;
	}
}

@media (max-width:46.875rem) {
	.borderOne, .borderTwo {
		flex-wrap: wrap;
	}
	
	.pictureMobile {
		display: block;
	}
	
	.pictureRight {
		display: none;
	}
	
	.pictureLeft {
		width: 100%;
	}
	
	.bookImage {
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
	}
}