/*
Change these options to customize the color scheme and a few layout options of your website.
Most layout options are stored in src/css/advanced_stylesheet.css. I do not recommend messing with those settings
unless you know what you're doing, or you're willing to spend a lot of time on trial and error.

For any colors, you can represent them in hexadecimal like this (#FF0000 = red)
or use this list of available color names: https://www.w3schools.com/cssref/css_colors.asp
 */

body {
    font-family: 'zootopia', sans-serif;  /* The font of all the text on all pages */
    color: black;  /* The color of the font of most of the text on your website */
    background-color: white;  /* The color of the background behind everything */
	background-image: url(/griffintest/your_content/images/banners/newageBGTest.png);
	background-size: cover;
	background-attachment: fixed;
}

a {
    color: #cc8b24; /* The color of the hyperlinks */
}

span.link-bar-separator {
    margin: 0 18px;
}

div#container {
  max-width: 1000px;
  background-color: white;
  width: 90%;
}

.archive-thumbnail-page img {
  width: 120px;
  height: 180px;
}

#links-bar {
	font-size: 22px;
}

.infinite-page-image {
	width: 100%;
}

.archive-thumbnail {
	padding: 16px 11px;
    padding-right: 11px;
    padding-left: 11px;
}

@font-face {
    font-family: zootopia;
    src: url(/griffintest/your_content/fonts/SEQUENTIALISTBB_REG.OTF) format("opentype");
	font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: zootopia;
    src: url(/griffintest/your_content/fonts/SEQUENTIALISTBB_ITAL.OTF) format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: zootopia;
    src: url(/griffintest/your_content/fonts/SEQUENTIALISTBB_BOLD.OTF) format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: zootopia;
    src: url(/griffintest/your_content/fonts/SEQUENTIALISTBB_BOLDITAL.OTF) format("opentype");
    font-weight: bold;
    font-style: italic;
}

#banner-img {
	margin-top: -13px;
	width: 100%;
}

div.archive-thumbnail {
	text-align: center;
	color: black;	
}

div#container {
    max-width: 1000px;  /* The width of the main box that contains all content on the pages */
    background-color: #f6e5c9;  /* The background color of the main box */
  /* If you change the background color of website, play with this or else it will look bad. */
}

div#links-bar {
    background-color: #cc8b24;  /* The background color of your links bar */
}

a.link-bar-link {
    color: black;  /* The color of the links in your links bar */
    font-weight: bold;  /* Delete this to unbold the links in your links bar*/
    text-decoration: none;  /* Delete this line to put underlining on the links in your links bar */
}

a.link-bar-link:hover {
    color: white;  /* The color of the links in your links bar while the cursor is hovering over them */
}

a.navigation-button {
    color: #cc8b24;  /* Color of the navigation bar hyperlinks */
    font-size: 2em;  /* Size of the navigation bar hyperlinks */
    text-decoration: none;  /* Delete this if you want your navigation links to be underlined */
}

a.navigation-button-disabled {
    color: gray;  /* Color of the disabled navigation bar hyperlinks */
    font-size: 2em;  /* Size of the disabled navigation bar hyperlinks */
    text-decoration: none;  /* Delete this if you want your disabled navigation links to be underlined */
}

div#blurb {
	background-color: #cc8b24;
	width: 75%;
	font-family: 'PT Sans', sans-serif;
}

h1#page-title {
    color: black;  /* Color of the page title */
    font-size: 3em;  /* Font size of the post title */
}

div#post-date {
    font-weight: bold;  /* Delete this to unbold the post date */
}

div#storyline, div#characters, div#tags {
    font-style: italic;  /* Delete this to unitalicize the tags */
}

/* Home Page */

table {
	width: 100%;
	border-collapse: collapse;
}

.otherTable {
	width:63%;
	margin-left: auto;
	margin-right: auto;
}

h4 {
	font-size: 32px;
	color: white;
	margin-top: 0px;
}

td, th {
	border: none;
	padding: 8px;
	text-align: center;
	vertical-align: middle;
	width: 18px;
}

.news-column {
	width: 50%;
}

.image-link img {
	width: 300px;
	border-radius: 6px;
	cursor: pointer;
}

.image-link img:hover {
	-webkit-filter: brightness(70%);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.comicLinks {
	border-right: 4px black solid;
}

.comicList {
	width: 1000px;
	overflow-x: scroll;
	overflow-y: hidden;
} /* Creates horizontal scroll for comics and book lists */

.comicBanner {
	color: white;
	font-family: rushford;
	font-size: 70px;
	margin-bottom: -30px;
} /* Sets banner colors and custom font */

.bookBanner {
	color: white;
	font-family: rushford;
	font-size: 70px;
	margin-bottom: -30px;
} /* Sets banner colors and custom font */

.bookImage {
	width: 258px;
	border-radius: 6px;
}

.borderOne {
	background-color: rgba(87,61,78,0.42);
}

.borderTwo {
	background-color: rgba(142,107,92,0.42);
}

.bookDescription {
	padding-left: 0px;
	padding-right: 40px;
	text-align: left;
	color: white;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9); /* Dark grey semi-transparent */
	z-index: 1000; /* Ensure it covers everything */
	cursor: zoom-in; /* Zoom cursor */
	visibility: hidden; /* Hidden by default */
} /* Sets overlay for comic world selection */

#overlayHome {
	visibility: hidden;
}

.whiteText {
	color: white;
	font-weight: normal;
}

.redLink {
	color: #ff2a13;
	text-decoration: none;
}

.anidroidsTitle {
	font-size: 40px;
	margin-top: -40px;
}

.comicWorld {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	z-index: 1001; /* Above the overlay */
	text-align: center;
	background-color: rgba(87,61,78,0.42);
}

.bookWorld {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	z-index: 1001; /* Above the overlay */
	text-align: center;
	background-color: rgba(87,61,78,0.42);
}

.bookTable {
	border-collapse: separate;
	border-spacing: 0 1em;
	overflow: auto;
	table-layout: fixed;
}

.pictureLeft {
	width: 330px;
}

.entryTitle {
	color: white;
	font-size: 4rem;
	margin-top: -10px;
	font-weight: normal;
}

.felidaeIcon {
	margin-right: 110px;
	margin-left: 30px;
	width: 403px;
	height: 384px;
}

.felidaeDescription {
	margin-left: 329px;
	text-align: center;
}

.novel {
	font-size: 27px;
	color: white;
	margin-top: 90px;
	text-align: left;
}

.anidroids {
	font-size: 1.5rem;
	font-weight: normal;
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
}

.anidroidsTitle {
	color: white;
	font-size: 40px;
	margin-top: -40px;
	text-align: left;
}

.anidroidsOne {
	font-size: 1.5rem;
	font-weight: normal;
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
	color: white;
	margin-top: -10px;
}

.anidroidsTwo {
	font-size: 1.2rem;
	font-weight: normal;
	text-align: left;
	color: rgb(237, 255, 204);
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
}

.anidroidsTable {
	color: rgb(237, 255, 204);
	margin-top: 50px;
}

.bookImageAnidroids {
	margin-right: 110px;
	margin-left: 30px;
	width: 258px;
}

.anidroidsText {
	color: rgb(237, 255, 204);
}

.anidroidsDescription {
	margin-top: -60px;
	text-align: left;
}

.borderOneAnidroids {
	min-height: 419px;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 45px 0px;
	border-style: double;
	border-width: 9px;
	background-color: #111111;
}

.borderOneHC {
	min-height: 419px;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 45px 0px;
	border-width: 9px;
	background-color: #111111;
}

.borderTwoAnidroids {
	min-height: 419px;
	display: flex;
	align-items: center;
}



div#powered-by {
  margin-bottom: 20px;
}

div#post-body {
	text-align: left;
}

#comicWorldInTheNewAge, #comicWorldOther, #comicWorldHC, #bookWorldPitFighters, #bookWorldAniDroids, #bookWorldHC {
	visibility: hidden;
	height: 810px;
	overflow: auto;
	background-color: rgba(2, 2, 15, 0.98);
	width: 1000px;
	border: solid 30px;
	border-color: rgba(2, 2, 15, 0.98);
	overscroll-behavior: contain;
}

div#links-bar-mobile, .mobileMenu {
	display: none;
}

/* All Comic Pages */

#comic-image {
	max-width: 100%;
} /* Sets width for all comic images without going over their original maximum size */

@media (max-width: 62.5rem) {
	
	body {
		margin: 0;
	}
	
	div#container {
		max-width: 1000px;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	
	#banner-img {
		width:100%;
		max-width: 1000px;
		margin-top: 0;
	}
	
	div#banner {
		margin-bottom: 0;
	}
	
	div#links-bar {
		display: none;
	}
	
	div#comic-page {
		margin-top: 20px;
	}

	.mobileMenu {
		text-decoration: none;
		font-size: 2rem;
		height: 45px;
		padding-top: 9px;
		display: flex;
		justify-content: center;
		background-color: #cc8b24;
		margin-top: -4px;
		margin-bottom: 0px;
	}
	
	div#links-bar-mobile {
		background-color: #cc8b24;
		margin-bottom: 15px;
		display: flex;
		justify-content: center;
		position: absolute;
		width: 100%;
		z-index: 2;
	}
	
	#links-menu li {
		width: 100%;
		list-style-type: none;
		height: 30px;
		padding-top: 19px;
		padding-bottom: 19px;
	}
	
	#links-menu li:hover a {
		color: black;
	}
	
	.infinite-page-image {
		width: 100%;
	}
			
	a.link-bar-link {
		color: white;  
		text-decoration: none; 
		font-size: 1.8rem;
		transition: none;
	}
	
	#links-menu {
		padding: 0;
		list-style-type: none;
		width: 100%;
		margin: 0;
	}
	
	 .menuHide {
		display: none;
	}
	
	.showMenuText:after {
		content: 'Show Menu';
	}
	
	.hideMenuText:after {
		content: 'Hide Menu';
	}
	
	.mobileMenu:hover, #links-menu li:hover {
		background-color: white;
		color: black;
		cursor: pointer;
	}
	
	a.link-bar-link:hover { 
		color: black;
	}
	  
	.menuToggled {
		background-color: white;
		color: black;
		content: "Hide Menu";
	}

	.navigation-button {
		font-size: 27px;
	}

	
	.bookDescription {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.pictureLeft {
		padding-top: 20px;
  padding-bottom: 20px;
	}
	
	a.navigation-button {
		font-size: 2rem;  /* Size of the navigation bar hyperlinks */
	}

	a.navigation-button-disabled {
		font-size: 2rem;  /* Size of the disabled navigation bar hyperlinks */
	}
}


@media (max-width:64.875rem) {
	a.navigation-button {
		font-size: 2rem;  /* Size of the navigation bar hyperlinks */
	}

	a.navigation-button-disabled {
		font-size: 2rem;  /* Size of the disabled navigation bar hyperlinks */
	}
	
	a.chapter-links {
		margin-right: 22px;
		font-size: 2rem;
		line-height: 65px;
	}
	
	h1#page-title {
		color: black;
		font-size: 2em;
		padding-top: 10px;
	}
	
	div#blurb {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding-right: 0;
		padding-left: 0;		
	}
	
	div.archive-thumbnail {
		width:90%;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.archive-thumbnail-page img {
		width: 300px;
		max-height: 450px;
		height: 100%;
	}
	
	.archive-thumbnail-page {
		width: 100%;
	}
	
	.archive-thumbnail-title {
		max-width: 300px;
	}
	
	#first-button {
		padding-bottom: 20px;
	}
	
	#comic-image {
		width: 100%;
	}

}


@media (max-width:37.5rem) {
	
	h1#page-title {
		font-size: 2rem;
	}
	
	.navigation-button.previous {
		grid-area: previous;
	}

	.navigation-button.next {
		grid-area: next;
	}

	.navigation-button.first {
		grid-area: first;
	}

	.navigation-button.latest {
		grid-area: latest;
	}

	a.navigation-button, a.navigation-button-disabled {
		font-size: 2rem;
	}
	
	span.link-bar-separator {
		visibility: hidden;
	}
	
	div#navigation-bar {
		display: grid;
		margin: 0 auto 20px auto;
		font-weight: bold;
		justify-content: center;
		grid-template-areas:
		"previous next" 
		"first latest";
	}

}

@media (max-width:28.125rem) {
	
	a.navigation-button, a.navigation-button-disabled {
		padding: 0 9px;
	}
	
	
	span.link-bar-separator {
		margin: 0 7px;
		font-size: .4em;
	}
	
	a.link-bar-link {
		font-size: 1.5rem;
	}
	
}